.Profilename {
     color: darkred;
}

.atas {
    width: 90%;
    margin-left: 00px;
    
    
    
}
.head {
margin-right:400px ;
}

.img {
    display: flex;
    margin-left: 0px;
    padding: 20px;
    justify-content:space-between;
    
}
.pace {
    text-align: right;

    justify-content: space-between;
}

.Pikachu {
    margin: 50px;
    width: 100px;
}

.bigbang {
    display: flex;
    justify-content: space-around
}

.tulis {
    
}
.cici {
    margin:  40px;
}
.cici2 {
    margin: 40px;
}